<div class="mt-1 container-fluid" style="width: 450px">
  <div class="row">
    <div class="col">
      <allende-minesweeper-clock></allende-minesweeper-clock>
    </div>
    <div class="col">
      <button
        mat-icon-button
        aria-label="start over"
        style="font-size: 35px"
        class="pb-5"
        (click)="onStartGameOverClick()"
      >
        <ng-container *ngrxLet="isGameOver$ as isGameOver">
          <fa-icon *ngIf="!isGameOver" [icon]="smileIcon"></fa-icon>
          <fa-icon *ngIf="isGameOver" [icon]="faceDizzyIcon"></fa-icon>
        </ng-container>
      </button>
    </div>
    <div class="col">
      <p>Rigth click to put a flag</p>
    </div>
  </div>
</div>
