<div class="container mt-4 mb-1">
  <div class="row align-items-center">
    <div class="col">
      <allende-minesweeper-clock></allende-minesweeper-clock>
    </div>
    <div class="col d-flex justify-content-center">
      <button
        mat-icon-button
        aria-label="start over"
        matTooltip="Click me to start again!"
        (click)="onStartGameOverClick()"
      >
        <!-- I use *ngrxLet because *ngIf would hide both icons if isGameOver$ is falsy -->
        <ng-container *ngrxLet="isGameOver$ as isGameOver">
          <fa-icon *ngIf="!isGameOver" [icon]="smileIcon"></fa-icon>
          <fa-icon *ngIf="isGameOver" [icon]="faceDizzyIcon"></fa-icon>
        </ng-container>
      </button>
    </div>
    <div class="col">
      <fa-icon [icon]="flagIcon" matTooltip="Right click to put a flag"></fa-icon>
    </div>
  </div>
</div>
